html {
  visibility: hidden;
  font-family: Roboto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 95%;
}

mdc-button__label {
  background: green;
}


button {
  background: none;
  border: none;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  font-family: Bitter;
}

footer {
  bottom: 0;
  top: unset;
}

main {
  margin-top: 90px;
  margin-bottom: 90px;
}

body {
  align-items: center;
}

header .heading {
  font-size: 30px;
}

.mdc-icon-button {
  height: auto;
  width: auto;
}

.mdc-select{
}

main .mdc-image-list {
  justify-content: space-between;
}

.demo-card {
  margin-top: 10px;
  width: 48%;
  border: 1px solid rgb(218, 220, 224);;
  box-shadow: none;
}

.mdc-card__primary-action {
  height: auto;
  padding-bottom: 15px;
}

.demo-card__primary, .demo-card__secondary {
  font-family: Roboto;
  padding: 0 16px;
}

.demo-card__primary h2, .demo-card__primary h3 {
  margin: 5px 0;
}

.demo-card__primary h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.demo-card__primary h3 {
  margin-top: 0;
}

.demo-card__primary h2 {
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: .0125em;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  text-decoration: inherit;
  text-transform: inherit;
}

.demo-card__primary h3 {
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0071428571em;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  html {
    visibility: visible;
  }
}
